{{define "breadcrumbs"}}
<div class="flex items-center text-lg">
    <!-- Render Breadcrumbs from the root -->
    {{range $i, $e := .Breadcrumbs}}
        {{if $i}}<span class="text-slate-600">&nbsp;&nbsp;&rsaquo;&nbsp;&nbsp;</span>{{end}}
        <a class='text-sky-800 hover:underline' href="{{$e.Href}}">{{$e.Text}}</a>
    {{end}}

    <!-- Render Breadcrumb for the current page -->
    <span class="text-slate-600">&nbsp;&nbsp;&rsaquo;&nbsp;&nbsp;</span>
    <span class="text-slate-600">{{.Heading}}</span>
</div>

<div class="mb-5"></div>
{{end}}
