{{define "breadcrumbs"}}
{{if .Breadcrumbs}}
    <div class="flex">
        <!-- Render Breadcrumbs from the root -->
        {{range $i, $e := .Breadcrumbs}}
            {{if $i}}&nbsp;&nbsp;&rsaquo;&nbsp;&nbsp;{{end}}

            {{if $e.Href}}
                <a class="text-sky-800 hover:underline" href="{{$e.Href}}">{{$e.Text}}</a>
            {{else}}
                <span class="text-slate-800">{{$e.Text}}</span>
            {{end}}
        {{end}}

        <!-- Render Breadcrumb for the current page -->
        &nbsp;&nbsp;&rsaquo;&nbsp;&nbsp;<span class="text-slate-800">{{.Heading}}</span>
    </div>

    <div class="mb-5"></div>
{{end}}
{{end}}
