{{define "navbar"}}
<header class="w-full bg-slate-50 border-b border-slate-200 text-slate-800">

    <div class="w-full mx-auto">
        <div class="w-full bg-sky-700 pt-1.5"></div>
    </div>

    <div class="w-full mx-auto max-w-3xl px-2 py-5">
        <div class="flex flex-wrap justify-between items-center">

            <!-- Site Name -->
            <h3 class="text-2xl text-current font-bold px-2">
                <a href="/">{{SiteName}}</a>
            </h3>
        </div>
    </div>

</header>

<div class="mb-5"></div>

{{end}}
