{{define "navbar"}}
<header class="w-full bg-sky-700 text-slate-50">
    <div class="w-full mx-auto max-w-3xl px-2 py-3">
        <div class="flex flex-wrap justify-between items-center">

            <!-- Site Name -->
            <h3 class="text-2xl text-current font-bold px-2">
                <a href="/">{{SiteName}}</a>
            </h3>


            {{/*
            <!-- Tagline -->
            <p class="hidden flex flex-wrap justify-start items-center text-slate-800">{{SiteTagline}}</p>

            <!-- Navbar Links -->
            {{if NavbarLinks}}
                <nav class="hidden flex-wrap justify-center items-center space-x-9 text-lg px-2">
                    {{range NavbarLinks}}
                        <a class="font-medium text-slate-50 py-0.5" href="{{.Href}}">{{.Text}}</a>
                    {{end}}
                </nav>
            {{end}}
            */}}

        </div>
    </div>
</header>

<div class="mb-3"></div>
{{end}}
