// --------------------------------------------------------
// The "page" template defines the beginning of an HTML page.
// --------------------------------------------------------

{{define "page"}}
    <!DOCTYPE html>
    <html lang="en">
    {{template "meta" .}}
    <body>
    {{template "header" .}}
{{end}}


// --------------------------------------------------------
// The "endpage" template defines the end of an HTML page.
// --------------------------------------------------------

{{define "endpage"}}
    {{template "footer" .}}
    </body>
    </html>
{{end}}


// --------------------------------------------------------------------
// The "content" template defines the beginning of the content section.
// --------------------------------------------------------------------

{{define "content"}}
    <div class="content w-full mx-auto max-w-3xl text-lg text-slate-800 px-4">
{{end}}


// --------------------------------------------------------------------
// The "endcontent" template defines the end of the content section.
// --------------------------------------------------------------------

{{define "endcontent"}}
    </div>
{{end}}


// --------------------------------------------------------------------
// The "heading" template defines the end of the content section.
// --------------------------------------------------------------------

{{define "heading"}}
    <h1 class="font-bold text-3xl text-slate-800 leading-relaxed mb-5">{{.Heading}}</h1>
{{end}}
