// --------------------------------------------------------
// The "page" template defines the beginning of an HTML page.
// --------------------------------------------------------

{{define "page"}}
    <!DOCTYPE html>
    <html lang="en">
    {{template "meta" .}}
    <body>
    {{template "header" .}}
    <div class="mb-5"></div>
    <main class="content w-full mx-auto max-w-3xl text-lg text-slate-800 px-4">
{{end}}


// --------------------------------------------------------
// The "endpage" template defines the end of an HTML page.
// --------------------------------------------------------

{{define "endpage"}}
    </main>
    <div class="mt-12"></div>
    {{template "footer" .}}
    </body>
    </html>
{{end}}
